<div *ngIf="isLoading" class="spinner-container">
    <mat-spinner></mat-spinner>
</div>

<div *ngIf="!isLoading">
    <button mat-raised-button color="primary" class="add-new-product-button" (click)="onAddNewProduct()">
      <mat-icon>add</mat-icon>
      Add New Product
    </button>
</div>
  
  <table class="mat-elevation-z8" mat-table [dataSource]="productList" matSortActive="list_Price" matSortDirection="asc" (matSortChange)="announceSortChange($event)" matSort matSortDisableClear>
  
    <!-- Product Name Column -->
    <ng-container matColumnDef="product_Name">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Product Name</th>
      <td mat-cell *matCellDef="let row">{{ row.product_Name }}</td>
    </ng-container>
  
    <!-- Listed Price Column -->
    <ng-container matColumnDef="list_Price">
      <th mat-header-cell  *matHeaderCellDef mat-sort-header>Listed Price</th>
      <td mat-cell *matCellDef="let row">{{ row.list_Price }}</td>
    </ng-container>
  
    <!-- Quantity Column -->
    <ng-container matColumnDef="quantity">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Quantity</th>
      <td mat-cell *matCellDef="let row">{{ row.quantity }}</td>
    </ng-container>
  
    <!-- Color Column -->
    <ng-container matColumnDef="color">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Color</th>
      <td mat-cell *matCellDef="let row">{{ row.color }}</td>
    </ng-container>
  
    <!-- Model Year Column -->
    <ng-container matColumnDef="model_Year">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Model Year</th>
      <td mat-cell *matCellDef="let row">{{ row.model_Year }}</td>
    </ng-container>
  
    <!-- Actions Column -->
    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef>Actions</th>
      <td mat-cell *matCellDef="let row">
        <button mat-icon-button color="primary" (click)="onEdit(row)">
          <mat-icon>edit</mat-icon>
        </button>
        <button mat-icon-button color="warn" (click)="onDelete(row)">
          <mat-icon>delete</mat-icon>
        </button>
      </td>
    </ng-container>
  
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
  
  <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons aria-label="Select page of periodic elements">
  </mat-paginator>
  