   .cart-container {
    font-family: 'Arial', sans-serif;
    margin: 20px;
  }
  
  h2 {
    font-size: 28px;
    font-weight: bold;
    margin-bottom: 20px;
    text-align: center;
  }

  .spinner-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Full height to center the spinner */
  }
  
  .empty-cart {
    text-align: center;
    font-size: 28px;
    color: #888;
  }
  
  .cart-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f9f9f9;
    padding: 15px;
    margin-bottom: 15px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }
  
  .cart-item-image img {
    max-width: 120px;
    max-height: 120px;
    object-fit: cover;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }
  
  .cart-item-details {
    flex-grow: 1;
    margin-left: 20px;
  }
  
  .cart-item-details h3 {
    font-size: 22px;
    color: #333;
    margin-bottom: 10px;
  }
  
  .cart-item-color,
  .cart-item-price,
  .cart-item-quantity,
  .cart-item-total {
    font-size: 16px;
    margin-bottom: 8px;
  }
  
  .cart-item-quantity {
    display: flex;
    align-items: center;
  }
  
  .quantity-button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 8px 12px;
    margin: 0 10px;
    font-size: 16px;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .quantity-button:hover {
    background-color: #0056b3;
  }
  
  .remove-button {
    background-color: #dc3545;
    color: white;
    padding: 8px 12px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .remove-button:hover {
    background-color: #c82333;
  }
  
  .checkout-section {
    text-align: center;
    margin-top: 20px;
  }
  
  .total-amount {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 15px;
  }
  
  .checkout-button {
    background-color: #28a745;
    color: white;
    padding: 10px 20px;
    border: none;
    font-size: 18px;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .checkout-button:hover {
    background-color: #218838;
  }
  
  
  .availableCoupons{
    padding: 10px !important;
    margin: 10px !important;
    color: black !important;
  }

  .coupon-section {
    margin-top: 20px;
    padding: 15px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }
  
  .coupon-section h3 {
    font-size: 22px;
    margin-bottom: 10px;
  }
  
  .coupon-section input {
    padding: 10px;
    font-size: 16px;
    width: 70%;
    border-radius: 4px;
    border: 1px solid #ddd;
    margin-right: 10px;
  }
  
  .apply-coupon-button,
  .remove-coupon-button {
    background-color: #007bff;
    color: white;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 4px;
    cursor: pointer;
    border: none;
  }
  
  .apply-coupon-button:hover,
  .remove-coupon-button:hover {
    background-color: #0056b3;
  }
  
  .applied-coupon {
    margin-top: 10px;
    font-size: 16px;
  }
  