<div class="navbar">
  <div class="brand">Shopsy</div>
  <div class="menu-allprod" *ngIf="!isLoginPage && isAdminPage">
    <a href="#" routerLink="/products" >Products Admin</a>
  </div>
  <div class="menu-allprod" *ngIf="!isLoginPage">
    <a href="#" routerLink="/allproducts" >All Products</a>
  </div>
  <div class="search-box">
    <input
      *ngIf="!isLoginPage"
      type="text"
      [(ngModel)]="SearchTerm"
      (ngModelChange)="onSearchTermChange($event)"
      matInput
      placeholder="Search items"
    />
  </div>
  <div class="menu">
    <a href="#" *ngIf="isLoginPage" routerLink="/login">Login</a>
    <a routerLink="/register" *ngIf="isLoginPage">Don't have an account? Register here</a>
    <a href="#" style="padding-right: 10px;" *ngIf="!isLoginPage" routerLink="/openCart">Cart</a>
    <a href="#" *ngIf="!isLoginPage" style="color: rgb(96, 187, 116);" >{{username}}</a>
    <a href="#" *ngIf="!isLoginPage" (click)="logout()">Logout</a>
  </div>
</div>

<!-- Routed content will appear here -->
<router-outlet></router-outlet>
